html {
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.fullscreen-wrapper{
  z-index: 10;
  position:absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  flex-direction: column;
  display: none;
}
.display-none{
  display: none;
}
.score-wrapper{
  z-index: 9;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  font-size: 2rem;
  margin-right:20px;
}
.powerup-wrapper{
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  font-size: 2rem;
  margin-left:20px;
}
.player-hearts-wrapper{
  z-index: 9;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  font-size: 2rem;
  justify-content: center;
}
#main-menu {
  z-index: 8;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.logo-img {
  max-width: 300px;
  max-height: 300px;
}
.custom-btn {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin-bottom: 20px;
  min-width: 300px ;  
}
.custom-btn:hover {
  background: #7272e2;
  color: #e5ff00;
  transition: all 0.25s;
}

